@model ShelterClient.Models.Login

<h1>Delete User Form:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Username)
  @Html.TextBoxFor(model => model.Username)

  @Html.LabelFor(model => model.Password)
  @Html.TextBoxFor(model => model.Password)
  
  <input type="submit" value="Delte This User" />
}

<p>@Html.ActionLink("HomePage", "Index", "Home")</p>