@model ShelterClient.Models.Login

<h1>User Authentication</h1>
<h3>@ViewBag.message</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Username)
  @Html.TextBoxFor(model => model.Username, new { required = "required" })

  @Html.LabelFor(model => model.Password)
  @Html.PasswordFor(model => model.Password, new { required = "required" })
  
  <input type="submit" value="Authenticate" />
}

<p>@Html.ActionLink("Add New User", "Create")</p>
<p>@Html.ActionLink("Delete User", "Delete")</p>
<br>
<p>@Html.ActionLink("HomePage", "Index", "Home")</p>